{% extends 'base.html' %}

{% block menu %}
    <li><a href="">Add Article</a></li>
{% endblock %}

{% block content %}
    <h1>Comments:</h1>
    <hr/>
    {% for comment in comments %}
        <h2>{{ comment.text }}</h2>
        <div>{{ comment.author }}<br>
            <a href="{% url 'article_view' comment.article.pk%}  ">{{ comment.article }}</a></div>
        <div>{{ comment.created_ad }}{{ comment.updated_at }}</div>
        <p><a href="">More...</a></p>
        <p><a href="">Edit</a></p>
        <p><a href="">Delete</a></p>
        <hr/>
    {% endfor %}
{% endblock %}
